 /* Navigation */
 #navbar {
     flex-direction: column;
 }

 #navbar ul li a {
     font-size: 0.7rem;
     padding: 0px 7px;
     padding-bottom: 10px;
 }

 /* Home Section  */
 #home {
     height: 346px;
     padding: 2px 72px;
 }

 #home::before {
     height: 440px;
 }

 #home p {
     font-size: 13px;
 }


 /* Services Section  */
 #services {
     flex-direction: column;

 }

 #services .box {
     margin: 6px 7px;

 }


 /* Client Section  */
 #clients {
     flex-wrap: wrap;
 }

 #clients img {
     width: 50px;
     padding-bottom: 23px;
     height: auto;
 }


 /* Contact us Section  */
 #contact-box form {
     width: 80%;
 }



 /*  Footer  */

 /*  Utilities Classes  */
 .h-primary {
     font-size: 26px;
 }

 .btn {
     font-size: 13px;
     padding: 3px 10px;
 }